.bold {
  font-weight: bold;
}

.span-blocks span{
  display: block;
}

.pointer {
  cursor: pointer;;
}

.no-decoration {
  color:inherit;
  text-decoration:none;
  &:hover, &:active, &:focus {
    text-decoration:none;
    color: inherit;
  }

}


// How to center a child div inside an outer div. Apply outer class to outer div and apply .innner-center to vertically and horizantally align divs inside their parent ;)
.outer {
  position: relative;
}

.inner-center {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.inner-center-horizontal {
  position: relative;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
}

.half-size {
  font-size: 1em;
}

.size-1x {
  font-size: 1.2em;
}

.size-2x {
  font-size: 1.6em;
}

.size-3x {
  font-size: 2em;
}

.borderless {
  border: none;
}

.paste-left {
  position: relative;
  margin-left: -3px;
}

.subscribe-form {
  width: 70%;
}

form {
  margin-top: 20px;
  height: 40px;
  input, button {
    height: 100%;
  }
  button {
    padding: 0px 20px;
  }
  input {
    width: 70%;
    padding-left: 10px;
  }
}
button {
  background-color: #323232;
  color: white !important;

}
