
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables

@import "fonts/choplin-el";
@import "variables";
@import "sprites/sprites";
@import "helpers/helpers";

@import "ui/sidebar";
@import "ui/carousel";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Root
body {
  background-color:  $body-bg;
  font-family: $font-primary;
}

span, p {
  color: $text-primary-color;

}

h2 {
  font-family: $font-secundary;
  color: $text-secundary-color;
}

h2 {
  color: white;
}

.inner-container {
  padding-left: 60px;
}

p.intro-text {
  text-align: center;
  margin-top: 50px;
}


.home-categories {
  margin-top: 50px;
  font-family: $font-secundary;
  color: $text-primary-color;
  text-align: center;
}

.home-categories {
  & > div > div + h2{
    // border-right: 1px solid $category-border-color;
    font-size: 20px;
  }

  & > div:after {
  content: '';
  height: 90px;
  width: 1px;

  position: absolute;
  right: 0;
  top: 19px;
  background-color: $category-border-color;
  }

  & > div:last-child:after {
  // NO Right border on last element
  content: '';
  height: 90px;
  width: 0px;
  position: absolute;
  }

  .kowloon-big-hamster + h2 {
    font-size: 1.3em;
  }
}


.hot-items .h-item .img {
  overflow: hidden;
  max-width: 100%;
  height: 190px;
  background-position: 80% 65%;
  background-size:    100% cover;
}

.hot-item-indicators {
  position: absolute;
    top: 10px;
    left: 15px;
    z-index: 15;
    padding-left: 0;
    list-style: none;
    text-align: center;

    & li {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 1px;
      text-indent: -999px;
      border: 1px solid #fff;
      border-radius: 10px;
      cursor: pointer;
    }

    & li.h-item-indicator-1 {
      background-color: white;
    }
    & li.h-item-indicator-2 {
      background-color: black;
    }
    & li.h-item-indicator-3 {
      background-color: #2d4aac;
    }
}

.h-item {
  position: relative;
  padding: 4px;
  background-color: $hot-items-background;
  border: 1px solid $hot-items-border;
}

 .h-item-textbox {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  width: 100%;
  background-color: $hot-items-background;
  padding-top: 10px;
  padding-bottom: 10px;

  & .h-item-price {
    float: right;
  }
  & span {
    display: inline;
  }
}



// SHAME

.hot-items {
  margin-bottom: 300px;
}
