
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables

@import "fonts/choplin-el";
@import "variables";
@import "sprites/sprites";
@import "helpers/helpers";

@import "ui/sidebar";
@import "ui/carousel";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Root
body {
  background-color:  $body-bg;
  font-family: $font-primary;
}

span, p {
  color: $text-primary-color;

}

h2 {
  font-family: $font-secundary;
  color: $text-secundary-color;
}

h2 {
  color: white;
}

.inner-container {
  padding-left: 60px;
}

p.intro-text {
  text-align: center;
  margin-top: 50px;
}


.home-categories {
  margin-top: 50px;
  font-family: $font-secundary;
  color: $text-primary-color;
  text-align: center;
}

.home-categories {
  & > div > div + h2{
    // border-right: 1px solid $category-border-color;
    font-size: 20px;
  }

  & > div:after {
  content: '';
  height: 90px;
  width: 1px;

  position: absolute;
  right: 0;
  top: 19px;
  background-color: $category-border-color;
  }

  & > div:last-child:after {
  // NO Right border on last element
  content: '';
  height: 90px;
  width: 0px;
  position: absolute;
  }

  .kowloon-big-hamster + h2 {
    font-size: 1.3em;
  }
}


.hot-items .h-item .img {
  overflow: hidden;
  max-width: 100%;
  height: 190px;
  background-position: 80% 65%;
  background-size:    100% cover;
  position: relative;
  z-index: 1;
}

.hot-items .h-item.stacked .img {
  overflow: hidden;
  height: $h-item-stack-height;
  background-position: 80% 65%;
  background-size:    100% cover;
  position: relative;
  z-index: 1;
}

.h-item.stacked {
  max-width: 96%;
  z-index: 10;

  // &:before {
  //   content: " ";
  //   position: absolute;
  //   background-color: red;
  //   height: 170px;
  //   width: 96%;
  //   top: -50px;
  //   z-index: 1;
  // }
}

.item-stack {
  top: 20px;
}
.stack-1, .stack-2 {
  position: absolute !important;
  height: $h-item-stack-height;
  width: 100%;
}

.stack-1 {
  height: 105.5%;
  top: -10px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0) !important;
  border-top: 5px solid #818181 !important;
  border-right: 5px solid #818181 !important;
  border-bottom: none !important;
  border-left: none !important;
}

.stack-2 {
  height: 111%;
  top: -20px;
  right: -10px;
  background-color: rgba(255, 255, 255, 0) !important;
  border-top: 5px solid #cfcfcf !important;
  border-right: 5px solid #cfcfcf !important;
  border-bottom: none !important;
  border-left: none !important;
}

.item-stack {
  position: relative;
  width: 100%;
}
.h-item {
  position: relative;
  padding: 4px;
  background-color: $hot-items-background;
  border: 1px solid $hot-items-border;
  position: relative;
  cursor: pointer;

  &:hover .img-overlay{
    background-color: #ff6f9e;
    opacity: 0.86;
    z-index: 999;
    position: relative;
    height: 100%;
    padding-top: 15px;
  }

  &:hover div.icon-details {
    opacity: 1;
  }

  & div.icon-details {
    position: relative;
    background-image: url('../images/view-details.png');
    background-size: cover;
    width: 105px;
    height: 105px;
    margin: auto;
    text-align: center;
    opacity: 0;
  }

  & div.icon-details span {
    font-size: 1.3em;
    position: absolute;
    bottom: -10px;
    left: 5px;
    width: 100%;
  }
}

.h-item-textbox {
 position: absolute;
 bottom: 0;
 left: 0;
 padding-left: 10px;
 padding-right: 10px;
 color: white;
 width: 100%;
 background-color: $hot-items-background;
 padding-top: 10px;
 padding-bottom: 10px;
 z-index: 11;

 & .h-item-price {
   float: right;
 }
 & span {
   display: inline;
 }
}


.hot-item-indicators {
  position: absolute;
    top: 10px;
    left: 15px;
    z-index: 15;
    padding-left: 0;
    list-style: none;
    text-align: center;

    & li {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 1px;
      text-indent: -999px;
      border: 1px solid #fff;
      border-radius: 10px;
      cursor: pointer;
    }

    & li.h-item-indicator-1 {
      background-color: white;
    }
    & li.h-item-indicator-2 {
      background-color: black;
    }
    & li.h-item-indicator-3 {
      background-color: #2d4aac;
    }
}



 .h-item-textbox {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  width: 100%;
  background-color: $hot-items-background;
  padding-top: 10px;
  padding-bottom: 10px;

  & .h-item-price {
    float: right;
  }
  & span {
    display: inline;
  }
}



// SHAME

.hot-items {
  margin-bottom: 300px;
}
