#aboutus-section {
  margin-top: 30px;
  padding-left: 30px;

  // FAQ area
  span.arrow-filter {
    display: inline-block;
    position: absolute;
    top:20px;
    right: 15px;
    }

  // Question block

  .answer-block {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    width: 90%;
   }

  .question-block {
    background-color: #717171;
    color: $text-primary-color;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 15px;

    h1,h2,h3 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.branding-letter {
  font-family: $font-secundary, serif;
  font-size: 1.5em;
  color: $text-secundary-color;
}

.headtitle + .more-info  {
    padding-left: 0px;
    padding-right: 150px;

    p:first-of-type  {
      margin-bottom: 30px;
    }
}

.more-info {
  ul {
    -webkit-padding-start: 20px;
  }
}

// CONTACT US
form.contactForm {
  margin-bottom: 50px;
  height: auto;
  label {
    color: $text-primary-color;
    font-size: 1.5em;
    font-weight: lighter;
  }

  input {
    display: block;
    width: 100%;
    min-height: 50px;
    height: auto;
  }

  button {
    height: auto;
  }

  div[class^="row"]:nth-of-type(2), div[class^="row"]:nth-of-type(3)  {
    margin-top: 50px;
  }

  textarea {
    display: block;
    width: 100%;
  }
}
