// #myCarousel {
//     width: 100%;
// }
// .carousel-control {
//     margin-top: 20px;
// }
// .carousel-inner .item {
//     width: 100%;
//     height: 500px;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     background-size: cover;
// }
// .ad1 {
//     background: url(../images/carousel/kowloon-hero-1.png) no-repeat center center fixed;
// }
// .ad2 {
//     background: url(../images/carousel/kowloon-hero-2.png) no-repeat center center fixed;
// }
.carousel-logo {
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 5%);
}

.carousel-inner {
  width: 100%;
  height: auto;
  max-height: $carousel-height;
  overflow: hidden;
  position: relative;
}

.carousel-inner .item img {
  width: 100% !important;
  height: auto !important;
}


.carousel-indicator-disabled {
  background-color: $body-bg !important;
  border-color: $body-bg !important;
}


// CAROUSEL BOUNDING BOX
#carousel-bounding-box {
  height: 93%;
}

#thumbnail-carousel {
  padding: 4px 4px;
  $thumbnail-carousel-highlight-size: 283px;
  background-color: $hot-items-background;
  border: 1px solid $hot-items-border;

  .thumbnail-container {
    margin-top: 10px;
  }

  ul {

    list-style:none;
    padding: 0px;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;

    li[class^="col-"] {
      padding-left: 2px;
      padding-right: 2px;

      p {
        margin-bottom: 0px;
      }

      img {
        height: 100px;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
        z-index: 1;
      }

      a {
        margin-bottom: 0px;
        }

       .thumbnail {
         border: none;
         background-color: inherit;
         padding: 0px;
         cursor: pointer;

         .inactive-overlay {
           opacity: 1;
           position: absolute;
           border: 2px solid white;
           width: 98%;
           height: 100px;
         }



         &.not-active {
          background-color: white;

          .inactive-overlay {
            opacity: 0.4;
            position: absolute;
            z-index: 5;
            color: white;
            background-color: white;
            width: 98%;
            height: 100px;
          }
         }
       }
    }
  }


  .carousel-inner {
    height: $thumbnail-carousel-highlight-size;

    & > div.item.active > img, & > div.item > img {
      height: $thumbnail-carousel-highlight-size !important;
      object-fit: cover;
    }
  }


  .thumbnail-container {
    .thumbnail {

    }
  }
}
