.logo-header {
  margin-top: 30px;
  width: 100%;
  height: 200px;
}

.headtitle + h2 {
  font-family: $font-primary;
}

// CAROUSEL BOUNDING BOX
#carousel-bounding-box {
  height: 93%;
}

#thumbnail-carousel {
  padding: 4px 4px;
  $thumbnail-carousel-highlight-size: 325px;
  background-color: $hot-items-background;
  border: 1px solid $hot-items-border;

  .thumbnail-container {
    margin-top: 10px;
  }

  ul {

    list-style:none;
    padding: 0px;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;

    li[class^="col-"] {
      padding-left: 2px;
      padding-right: 2px;

      img {
        height: 100px;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
        z-index: 1;
      }

      a {
        margin-bottom: 0px;
        }

       .thumbnail {
         border: none;
         background-color: inherit;
         padding: 0px;
         &.active {
          padding: 1px;
          background-color: white;

         }

         &.not-active {
          background-color: white;

          .inactive-overlay {
            opacity: 0.4;
            position: absolute;
            z-index: 5;
            color: white;
            background-color: white;
            width: 98%;
            height: 100px;
          }
         }
       }
    }
  }


  .carousel-inner {
    height: $thumbnail-carousel-highlight-size;

    & > div.item.active > img, & > div.item > img {
      height: $thumbnail-carousel-highlight-size !important;
      object-fit: cover;
    }
  }


  .thumbnail-container {
    .thumbnail {

    }
  }
}



.geometry-shapes {
  $shape-dimensions: 30px;
  $shape-colors: #828282;

  span {
    width: $shape-dimensions;
    height: $shape-dimensions;
    display: inline-block;
    margin-right: 10px;
    background-color: $shape-colors;
    &.circle {
      border-radius: 50%;
    }
    &.triangle {
      background-color: $body-bg;
      width: 0;
      height: 0;
      border-left: $shape-dimensions/2 solid transparent;
      border-right: $shape-dimensions/2 solid transparent;
      border-bottom: 30px solid $shape-colors;
    }
  }
}



.productdetail-section {
h1, h2, h3, p {
  color: $text-primary-color;
}

h3.half-size {
  font-size: 1.2em;
  }

.hot-item-indicators-container {
  width: 100%;
}

ol.hot-item-indicators {
  position: relative;
  float: left;
  left: 0;
  top: 0;
  margin-bottom: 0px;
  }
}
