.productlist-section {
  margin-top: 20px;
    

   h2, h3, p, a, a:hover, label {
    font-family: $font-primary;
    color: $text-primary-color;
  }

  hr.colored {
    border-color: rgb(145, 145, 145);
    opacity: 0.5;
  }

  #advanced-filter-productlist span {
    display: inline-block;
    position: relative;
    left: 10px;
    top: 2px;
  }

  .checkbox-item {
    display: inline-block;
    width: auto;
    margin-right: 14px;
    label {
      display: inline;
      padding-left: 5px;
      font-weight: 100;
    }

    input[type='checkbox'] {
      background-color: white !important;
      border: 5px solid black;
      display: inline;
      width: 13px;
      height: 13px;
      width: auto;
      display: inline-block;
      padding: 0;
      margin:0;
      vertical-align: bottom;
      top: -4px;
      position: relative;
      overflow: hidden;
    }
  }

  .hot-items div[class^="col"]:first-child {
    padding-left: 3px;
  }

  .hot-items div[class^="col"] {
    margin-bottom: 10px;
  }
}
