.productlist-section {
  margin-top: 20px;


   h2, h3, p, a, a:hover, label {
    font-family: $font-primary;
    color: $text-primary-color;
  }

  hr.colored {
    border-color: rgb(145, 145, 145);
    opacity: 0.5;
  }

  #advanced-filter-productlist span {
    display: inline-block;
    position: relative;
    left: 10px;
    top: 2px;
  }

  .checkbox-item {
    display: inline-block;
    width: auto;
    margin-right: 14px;
    label {
      display: inline;
      padding-left: 5px;
      font-weight: 100;
    }

    input[type='checkbox'] {
      background-color: white !important;
      border: 5px solid black;
      display: inline;
      width: 13px;
      height: 13px;
      width: auto;
      display: inline-block;
      padding: 0;
      margin:0;
      vertical-align: bottom;
      top: -4px;
      position: relative;
      overflow: hidden;
    }
  }

  .hot-items div[class^="col"]:first-child {
    padding-left: 3px;
  }

  .hot-items div[class^="col"] {
    margin-bottom: 10px;
  }
}

.extra-filters {
  margin-bottom: 13px;

  .select {
    float: left;
    display: inline;

    select {
      background-color: #616161;
      border: none;
      padding: 7px 30px 7px 10px;
      color: white;
      font-size: 0.9em;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-overflow: '';

      option {
        background-color: #ffffff;
        color: $text-primary-two-color;
        padding: 10px 20px;

        &:hover {
          background-color: black;
        }
      }
    }
  }
  .select:before {
    content: "";
    position: absolute;
    left: 135px;
    top: 18px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;

  }

  .select:after {
    content: "";
    position: absolute;
    left: 135px;
    top: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    transform: rotate(180deg);
  }

  .product-amount {
    display: inline;
    color: $text-primary-color;
    float: right;
  }
}
