.morph-search-faq {
  position: absolute;
  background: #f9f9f9;
  // Problem with overflow when overlay ?
  overflow: hidden;
  width: unquote("-webkit-calc(100% - 60px)");
  height: 0px;
  top: 0px;
  transform-origin: 100% 0;
  z-index: 10000;
  transition-property: height, opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  opacity: 0;

  h1, h2, h3, p, a {
    font-family: $font-primary;
    color: $overlay-text-color;
  }


  .checkbox-item {
    display: inline-block;
    width: auto;
    margin-right: 14px;
    label {
      display: inline;
      padding-left: 5px;
      font-weight: 100;
    }

    input[type='checkbox'] {
      background-color: white !important;
      border: 5px solid black;
      display: inline;
      width: 13px;
      height: 13px;
      width: auto;
      display: inline-block;
      padding: 0;
      margin:0;
      vertical-align: bottom;
      top: -4px;
      position: relative;
      overflow: hidden;
    }
  }

  .container {
    margin-top: 20px;
  }

  a.advanced-filter {
    font-family: $font-primary;
    font-weight: 100;
    font-size: 2em;
    color: $overlay-text-color;
    &:hover {
      opacity: 0.8;
    }
    span {
      display: inline-block;
    }
  }

  &.open {
    height: 110%;
    opacity: 1;

    .m-close {
      position: absolute;
      right: 20px;
      top: 20px;
      color: $fs-close-text-color;
      &:after {
        content:"esc";
        position: absolute;
        top: 25px;
        left: 0px;
      }
    }

  }
  span.m-close {
    position: absolute;
    cursor: pointer;
  }

  #m-search, #m-faq {
    visibility: hidden;
    display: none;

    &.m-active {
      display: inherit;
      visibility: visible;
    }
  }

}


.morphsearch-form {
  margin-top: 230px;

  #search-results-message {
    display: block;
  }

  button#m-clear {
    background:none!important;
     border:none;
     padding:0!important;
     color: inherit !important;
     cursor:pointer;
     float: right;
     position: absolute;
     top: 0;
     right: 0;
     outline: none;
     height: auto;

     span {
       position: relative;
       display: inline-block;
       top: 2px;
     }
  }

  p {
    margin-bottom: 0px;
    display: inline-block;
  }
  a {
    cursor: pointer;
    opacity: 0.9;
    text-decoration: underline;
    &:hover {
      color: inherit;
      opacity: 0.7;
    }
  }

  #big-search-input {
    width: 100%;
    border: none;
    background-color: #f9f9f9;
    border-bottom: 2px solid #535353;
    z-index: 50;
    font-size: 3em;
    padding-bottom: 40px;
    padding-top: 40px;
    &:focus {
      outline: none;
    }
  }

  .group {
    position: relative;
    margin-bottom: 25px;
  }
  label {
    position:absolute;
    top: 0px;
    font-size: 3em;
    color: #e27500;
    cursor: text;
    z-index: 40;
    span {
      display: inline-block;

      &.m-search-icon {
        margin-right: 40px;
      }

      &.m-enter-icon {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    &.s-invisible {
      visibility: hidden;
    }
  }

  .search-results {
    position: relative;
  }

  .detail-outer {
    display: none;

    &.visible {
      display: block;

      p#search-results-message {
        margin-bottom: 15px;
      }
    }
  }

  .detail-boxes {
    height: 100px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  }
}
