.cat-icon-hover, .dog-icon, .dog-icon-hover, .faq-icon, .faq-icon-hover, .fish-icon, .fish-icon-hover, .hamburger-icon, .hamster-icon, .hamster-icon-hover, .owl-icon, .owl-icon-hover, .search-icon, .search-icon-hover, .cat-icon{
	background: url(sprites/sprites.png) no-repeat;
}

// MAKE SURE THE ITEM GETS HIGHLIGHTED WHEN HOVERING OVER THE A HREF FIELD
.sidemenu-item {

  &:hover {
    .cat-icon{
      background-position: -50px -300px;
    }
    .dog-icon {
      background-position: -51px -251px ;
    }
    .fish-icon {
      background-position: -50px -151px ;
    }
    .faq-icon {
      background-position: -50px -200px;
    }
    .hamster-icon {
      background-position: -50px -101px ;
    }
    .owl-icon {
      background-position: -50px -52px;
    }
    .search-icon {
      background-position: -49px 0;

    }
  }
}

// END OF ITEM A HREF HIGHTLIGHT
.cat-icon{
	background-position: 0 -301px ;
	width: 58px;
	height: 40px;
  &:hover {
    background-position: -50px -300px;
  }
}

.cat-icon-hover{
	background-position: -50px -300px;
	width: 58px;
	height: 40px;
}

.dog-icon{
	background-position: 0 -250px ;
	width: 58px;
	height: 40px;

  &:hover {
    background-position: -51px -251px ;
  }
}

.dog-icon-hover{
	background-position: -51px -251px ;
	width: 58px;
	height: 40px;
}

.faq-icon{
	background-position: 0 -200px ;
	width: 58px;
	height: 40px;

  &:hover {
    background-position: -50px -200px;
  }
}

.faq-icon-hover{
	background-position: -50px -200px;
	width: 58px;
	height: 40px;
}

.fish-icon{
	background-position: 0 -151px ;
	width: 58px;
	height: 40px;
  &:hover {
    background-position: -50px -151px ;
  }

}

.fish-icon-hover{
	background-position: -50px -151px ;
	width: 58px;
	height: 40px;
}

.hamburger-icon{
	background-position: 0 -352px ;
	width: 58px;
	height: 40px;
}

.hamster-icon{
	background-position: 0 -102px ;
	width: 58px;
	height: 40px;
  &:hover {
    background-position: -50px -101px ;
  }
}

.hamster-icon-hover{
	background-position: -50px -101px ;
	width: 58px;
	height: 40px;
}

.owl-icon{
	background-position: 0 -51px ;
	width: 58px;
	height: 40px;
  &:hover {
    background-position: -50px -52px;
  }
}

.owl-icon-hover{
	background-position: -50px -52px;
	width: 58px;
	height: 40px;
}

.search-icon{
	background-position: 0 0;
	width: 58px;
	height: 40px;
  &:hover {
    background-position: -49px 0;

  }
}


.search-icon-hover{
	background-position: -49px 0;
	width: 58px;
	height: 40px;
}
